<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSCB07Project"
        tools:targetApi="31">
        <!-- android:name: class name of activity -->
        <activity
            android:name=".ui.requirements.Q3aMath"/>
        <activity
            android:name=".ui.requirements.Q3bMath"/>
        <activity
            android:name=".ui.requirements.Q3aStat"/>
        <activity
            android:name=".ui.requirements.Q3bStat"/>
        <activity
            android:name=".ui.requirements.Q3cStat"/>
        <activity
            android:name=".ui.requirements.Q3aComp" />
        <activity
            android:name=".ui.requirements.Q3bComp" />
        <activity
            android:name=".ui.requirements.Q2Math" />
        <activity
            android:name=".ui.requirements.Q2Stat" />
        <activity
            android:name=".ui.requirements.Q2Comp" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>